.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 150px); 
}

div {
    margin: 0.5% 1%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block1 {
    background: rgb(194, 68, 68);
}

.block2 {
    background: rgb(83, 60, 197);
}

.block3 {
    background: rgb(177, 193, 99);
}

.block4 {
    background: rgb(238, 197, 153);
}

.block5 {
    background: rgb(219, 199, 199);
}

.block6 {
    background: rgb(115, 130, 123);
}

